{% load sb_tags sb_default_urls sb_thumb_tags sekizai_tags static sb_default_urls sb_math_tags %}

{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_picture/sb_picture.css' %}" />{% endaddtoblock %}


<span class="sb_picture{% if instance.no_margin %} no_margin{% endif %}{% if instance.float %} pull_{{ instance.float }}{% endif %}{% if instance.attr_class %} {{ instance.attr_class }}{% endif %}" style="{% if instance.file_exists %}max-width: {{ instance.get_width }}px;{% endif %}{% if instance.alignment %} text-align: {{ instance.alignment }};{% if instance.alignment == 'center' %}margin-right: auto;margin-left: auto;{% endif %}{% if instance.alignment == 'right' %}margin-left: auto;{% endif %}{% endif %}">

    {% if instance.file_exists %}

        {% if is_full_display and not request.toolbar.edit_mode_active %}<a class="fb" href="{% if instance.pic.is_svg %}{{ instance.pic.path }}{% else %}{% thumb instance.pic 0 0 'contain' 'full' %}{% endif %}"{% if instance.hint %} title="{{ instance.hint }}"{% endif %}{% if instance.group %} rel="sb_picture_{{ instance.group }}"{% endif %}>{% endif %}
            {% if not instance.float and not instance.pic.is_svg %}<span class="wr" style="{% if instance.pic.is_svg %}width: {{ instance.get_width }}px;{% comment %}{% else %}padding-top: {{ instance.get_padding_top }};{% endcomment %}{% endif %}{% comment %}{% if instance.alignment %}{% endcomment %}{% comment %}{% get_max_parameters instance.pic.width instance.pic.height instance.width instance.height %}{% endcomment %}{% comment %}{% endif %}{% endcomment %}">{% endif %}

            {{ instance|args:request|call:'html' }}

        {% if not instance.float and not instance.pic.is_svg %}</span>{% endif %}
        {% if is_full_display and not request.toolbar.edit_mode_active %}</a>{% endif %}


    {% else %}
        <img data-bad_url="{{ instance.pic|get_url }}" style="{% if instance.width %}width: {{ instance.width }}px;{% endif %}"
             class="no_image{% if instance.float %} pull_{{ instance.float }}{% endif %}" src="{% no_image_url instance.width|default:200 instance.height|default:150 %}"{% if instance.hint %} alt="{{ instance.hint }}" title="{{ instance.hint }}"{% endif %} />
    {% endif %}
</span>

{% if is_full_display and not request.toolbar.edit_mode_active %}
    {% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}

    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}fancyBox/source/jquery.fancybox.css" />{% endaddtoblock %}
    {% addtoblock 'js' %}<script src="{{ STATIC_URL }}fancyBox/source/jquery.fancybox.pack.js"></script>{% endaddtoblock %}
    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_core/css/fancybox.css" />{% endaddtoblock %}

    {% addtoblock 'js' %}
        <script>
            $(function(){
                $('.sb_picture .fb').fancybox({
                    beforeShow: function() {
                        if (this.element.attr('title') !== 'undefined' && this.element.attr('title'))
                            $('.fancybox-outer').append('<div class="fb_desc_wr"><div class="fb_desc">'+this.element.attr('title')+'</div></div>');

                        $('.fancybox-next').removeAttr('title');
                        $('.fancybox-prev').removeAttr('title');
                    },
                    padding : 0
                });
            });
        </script>
    {% endaddtoblock %}
{% endif %}
