p {
  .sb_picture {display: inline-block;margin-top: 0;margin-bottom: 0;vertical-align: middle;width: 100%;}
}

.sb_picture {
  display: block;margin: 10px 0;

  &.no_margin {margin-top: 0;margin-bottom: 0}

  img {max-width: 100%;}

  &.pull_left {float: left; margin-left: 0;margin-right: 10px;}
  &.pull_right {float: right; margin-left: 10px;margin-right: 0;}
}