p .sb_picture {display: inline-block;margin-top: 0;margin-bottom: 0;vertical-align: middle;width: 100%;}

.sb_picture {display: block;margin: 10px 0;}

.sb_picture.no_margin {margin-top: 0;margin-bottom: 0}

.sb_picture img {max-width: 100%;}

.sb_picture.pull_left {float: left; margin-left: 0;margin-right: 10px;}
.sb_picture.pull_right {float: right; margin-left: 10px;margin-right: 0;}
